@font-face {
  font-family: ibm-plex-sans-hebrew-bold;
  src: url(../../assets/fonts/IBMPlexSansHebrew-Bold.ttf) format("truetype");
}

@font-face {
  font-family: ibm-plex-sans-hebrew-medium;
  src: url(../../assets/fonts/IBMPlexSansHebrew-Medium.ttf) format("truetype");
}

@font-face {
  font-family: ibm-plex-sans-hebrew-regular;
  src: url(../../assets/fonts/IBMPlexSansHebrew-Regular.ttf) format("truetype");
}

@font-face {
  font-family: ploni-aaa-400;
  src: url(../../assets/fonts/ploni-aaa-400.otf) format("opentype");
}

@font-face {
  font-family: ploni-aaa-700;
  src: url(../../assets/fonts/ploni-aaa-700.otf) format("opentype");
}

@font-face {
  font-family: ploni-bold-aaa;
  src: url(../../assets/fonts/ploni-bold-aaa.otf) format("opentype");
}

@font-face {
  font-family: ploni-demibold-aaa;
  src: url(../../assets/fonts/ploni-demibold-aaa.otf) format("opentype");
}

@font-face {
  font-family: ploni-light-aaa;
  src: url(../../assets/fonts/ploni-light-aaa.otf) format("opentype");
}

@font-face {
  font-family: ploni-medium-aaa;
  src: url(../../assets/fonts/ploni-medium-aaa.otf) format("opentype");
}

@font-face {
  font-family: ploni-regular-aaa;
  src: url(../../assets/fonts/ploni-regular-aaa.otf) format("opentype");
}

@font-face {
  font-family: ploni-ultrabold-aaa;
  src: url(../../assets/fonts/ploni-ultrabold-aaa.otf) format("opentype");
}

@font-face {
  font-family: ploni-ultrabold-aaa;
  src: url(../../assets/fonts/ploni-ultrabold-aaa.ttf) format("opentype");
}

@font-face {
  font-family: ploni-ultralight-aaa;
  src: url(../../assets/fonts/ploni-ultralight-aaa.otf) format("opentype");
}