<div class="action-buttons">
    <button mat-stroked-button (click)="accordion().openAll()">
        {{ 'EXPAND_ALL' | translate }}
    </button>
    <button mat-stroked-button (click)="accordion().closeAll()">
        {{ 'COLLAPSE_ALL' | translate }}
    </button>
    <button mat-stroked-button (click)="onPrint()">
        {{ 'PRINT' | translate }}
    </button>
</div>
<mat-accordion multi id="exam-list">
    <mat-expansion-panel *ngFor="let exam of exams" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="exam-info">
                    ({{questionnairesDic[exam.questionnaireId].code}})
                    {{questionnairesDic[exam.questionnaireId].name}} |
                    {{examTypesDic[exam.examTypeId].name }}
                </div>
                <div class="exam-time">
                    {{exam.startTime | date: 'dd/MM/yyyy HH:mm'}} {{getDay(exam.startTime) | translate}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="exam-info-container">
            <app-exam-info-value [icon]="'category'" [name]="'SUBJECT_AREA.NAME' | translate"
                [value]="subjectsDic[questionnairesDic[exam.questionnaireId].subjectId].name"></app-exam-info-value>

            <app-exam-info-value [icon]="'schedule'" [name]="'EXAM_AREA.DURATION' | translate"
                [value]="exam.duration | time : 'HH:mm'"></app-exam-info-value>

            <app-exam-info-value [icon]="'schedule'" [name]="'EXAM_AREA.DURATION_WITH_EXTRA' | translate"
                [value]="exam.durationWithExtra | time : 'HH:mm'"></app-exam-info-value>
        </div>
        <div *ngIf="exam.gradeIds && exam.gradeIds.length > 0">
            <app-exam-info-value [icon]="'groups'" [name]="'EXAM_AREA.GRADES' | translate"
                [value]="exam.gradeIds.length > 3 ? '' : getGrades(exam.gradeIds)"></app-exam-info-value>
            <div *ngIf="exam.gradeIds.length > 3" class="primary bold grade-list">
                {{getGrades(exam.gradeIds)}}
            </div>
        </div>
        <div *ngIf="exam.classIds && exam.classIds.length > 0">
            <app-exam-info-value [icon]="'school'" [name]="'EXAM_AREA.CLASSES' | translate"
                [value]="exam.classIds.length > 3 ? '' : getClasses(exam.classIds)"></app-exam-info-value>
            <div *ngIf="exam.classIds.length > 3" class="primary bold class-list">
                {{getClasses(exam.classIds)}}
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>