@use '../../../../assets/styles/colors.scss' as colors;

mat-panel-title {
    flex-direction: column;
    align-items: flex-start;

    .exam-info-questionnaire {
        font-weight: bold;
        color: colors.$primary-dark;
    }

    .exam-description {
        color: colors.$dark-400;
        font-size: 0.9rem;
    }
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem;

    >div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

    }
}

.exam-info-container {
    border-top: 1px dotted colors.$dark-400;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grade-list,
.class-list {
    margin: 0 1.5rem;
}