<app-skeleton-loader *ngIf="isLoading" [count]="5"></app-skeleton-loader>
<div class="wrapper" *ngIf="!isLoading">
    <div class="action-buttons">
        <div>
            <button mat-stroked-button (click)="accordion().openAll()">
                <mat-icon>keyboard_arrow_up</mat-icon>
                <span>{{ 'EXPAND_ALL' | translate }}</span>
            </button>
            <button mat-stroked-button (click)="accordion().closeAll()">
                <mat-icon>keyboard_arrow_down</mat-icon>
                <span>{{ 'COLLAPSE_ALL' | translate }}</span>
            </button>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item (click)="onPrint()">
                <mat-icon>print</mat-icon>
                <span>{{ 'PRINT' | translate }}</span>
            </button> -->
            <button mat-menu-item (click)="onExport()">
                <mat-icon>download</mat-icon>
                <span>{{ 'EXPORT' | translate }}</span>
            </button>
        </mat-menu>
    </div>
    <mat-accordion multi id="exam-list">
        <mat-expansion-panel *ngFor="let exam of exams" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="exam-info-questionnaire">
                        ({{questionnairesDic[exam.questionnaireId].code}})
                        {{questionnairesDic[exam.questionnaireId].name}}
                    </div>
                    <div class="exam-description">
                        {{exam.startTime | date: isTimeValid(exam.startTime) ? 'dd/MM/yyyy HH:mm' : 'dd/MM/yyyy'}}
                        {{getDay(exam.startTime) | translate}}
                        |
                        {{examTypesDic[exam.examTypeId].name }} - {{moedsDic[exam.moedId].name }}
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="exam-info-container">
                <app-exam-info-value [icon]="'category'" [name]="'SUBJECT_AREA.NAME' | translate"
                    [value]="subjectsDic[questionnairesDic[exam.questionnaireId].subjectId].name"></app-exam-info-value>

                <app-exam-info-value [icon]="'schedule'" [name]="'EXAM_AREA.DURATION' | translate"
                    [value]="exam.duration | time : 'HH:mm'"></app-exam-info-value>

                <app-exam-info-value [icon]="'schedule'" [iconColor]="iconColor"
                    [name]="'EXAM_AREA.DURATION_WITH_EXTRA' | translate"
                    [value]="exam.durationWithExtra | time : 'HH:mm'"></app-exam-info-value>

                <app-exam-info-value *ngIf="exam.gradeIds && exam.gradeIds.length > 0" [icon]="'groups'"
                    [name]="'EXAM_AREA.GRADES' | translate" [value]="getGrades(exam.gradeIds)"></app-exam-info-value>

                <app-exam-info-value *ngIf="exam.improvementGradeIds && exam.improvementGradeIds.length > 0"
                    [icon]="'groups'" [iconColor]="iconColor" [name]="'EXAM_AREA.GRADES_GRADE_IMPROVEMENT' | translate"
                    [value]="getGrades(exam.improvementGradeIds)"></app-exam-info-value>

                <app-exam-info-value *ngIf="exam.classIds && exam.classIds.length > 0" [icon]="'school'"
                    [name]="'EXAM_AREA.CLASSES' | translate" [value]="getClasses(exam.classIds)"></app-exam-info-value>

                <app-exam-info-value *ngIf="exam.improvementClassIds && exam.improvementClassIds.length > 0"
                    [icon]="'school'" [iconColor]="iconColor" [name]="'EXAM_AREA.CLASSES_GRADE_IMPROVEMENT' | translate"
                    [value]="getClasses(exam.improvementClassIds)"></app-exam-info-value>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>