<button class="back-button" mat-icon-button [routerLink]="'/developer'">
    <mat-icon aria-hidden="false">arrow_forward</mat-icon>
</button>

<div class="title-lbl center-text">React native message</div>
<small class="native-app-lbl">Native application is available: {{nativeAppIsAvailable}}</small>
<div class="actions">
    <ng-container *ngFor="let action of reactNativeActions">
        <button mat-stroked-button (click)="onReactNativeMessage(action)">{{action}}</button>
    </ng-container>
</div>
<hr>
<div class="result">
    <div>result source: {{resultSource}}</div>
    <ngx-json-viewer *ngIf="result" [json]="result"></ngx-json-viewer>
</div>