@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';
@import './assets/styles/typography.scss';

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
    --mdc-typography-font-family: ploni-regular-aaa;
    --mdc-linear-progress-active-indicator-height: 3px;
    --mdc-linear-progress-track-height: 3px;
}

html,
body {
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: ploni-regular-aaa;
    font-size: 1em;
    box-sizing: border-box;
    background-color: $primary-dark-8;

    * {
        box-sizing: border-box;
    }
}

.app-btn {
    border-radius: 1.5em !important;
    padding: 1em !important;

    .mdc-button__label {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            width: 1em;
            height: 1em;
            margin-inline-end: 0.2em;
        }
    }
}

.mdc-dialog__container {
    direction: rtl;
}

.mat-content.mat-content-hide-toggle {
    margin-right: 0px !important;
}