@use '../../../../assets/styles/colors.scss' as colors;

.table-container {

  .table-toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .empty-status {
    line-height: 1.5rem;
    margin-top: 1.5rem;
  }

  table {
    width: 100%;
    border: 1px solid colors.$dark-400;
    overflow: auto;
  }

  .mat-column-actions {
    padding: 0;
  }
}