@use '../../../../assets/styles/colors.scss' as colors;

.table-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden; // Ensures no overflow

  .header-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
  }

  .table-toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .empty-status {
    line-height: 1.5rem;
    margin-top: 1.5rem;
  }

  .table-data {
    width: 100%;
    max-width: 100%;
    table-layout: fixed; //Ensures columns fit within the width 
    overflow: hidden;
    border: 1px solid colors.$dark-400;

    .mat-mdc-cell {
      letter-spacing: normal;
    }

    .mdc-data-table__cell {
      overflow: unset;
    }
  }

  .mat-column-actions {
    padding: 0;
    width: 48px; // Adjust based on the icon size
    min-width: 48px;
    max-width: 48px;
    text-align: center;
  }
}