.upload-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); // Light background overlay
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    direction: ltr;
}

.upload-spinner-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.upload-spinner {
    position: absolute;
    top: 0;
    left: 0;
}

.upload-percentage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}