<div class="page-container">
    <div class="upload-spinner-overlay" dir="ltr" *ngIf="uploadFileProgressPercentage != null">
        <div class="upload-spinner-wrapper">
            <mat-progress-spinner class="upload-spinner" [mode]="'determinate'" [value]="uploadFileProgressPercentage"
                [diameter]="100" strokeWidth="6" color="primary">
            </mat-progress-spinner>
            <div class="upload-percentage-text dark-400">
                {{ uploadFileProgressPercentage }}%
            </div>
        </div>
    </div>

    <app-table *ngIf="uploadFileProgressPercentage == null" [items]="items" [columns]="columns" (add)="onAdd()"
        (edit)="onEdit($event)" (delete)="onDelete($event)">
        <input #fileInput type="file" (change)="onFileSelected($event)" accept=".csv" hidden />
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onExport()">
                <mat-icon aria-hidden="false">download</mat-icon>
                <span>{{ 'EXPORT' | translate }}</span>
            </button>
            <button mat-menu-item (click)="onImport()">
                <mat-icon aria-hidden="false">upload</mat-icon>
                <span>{{ 'IMPORT' | translate }}</span>
            </button>
            <button mat-menu-item (click)="onExportUsersLoginStatus()">
                <mat-icon aria-hidden="false">timeline</mat-icon>
                <span>{{ 'USER_AREA.EXPORT_USERS_LOGIN_STATUS' | translate }}</span>
            </button>
        </mat-menu>
    </app-table>
</div>