<h3 class="center-text">Loading test</h3>
<button mat-stroked-button (click)="toggleLoadingMode()">Loader</button>
<hr>
<h3 class="center-text">Language test</h3>
<app-language-selector></app-language-selector>
<div class="center-text">{{'DIR' | translate}}</div>
<hr>
<h3 class="center-text">Notification test</h3>
<button mat-stroked-button (click)="showNotify('info')">Info</button>
<button mat-stroked-button (click)="showNotify('success')">Success</button>
<button mat-stroked-button (click)="showNotify('warning')">Warning</button>
<button mat-stroked-button (click)="showNotify('error')">Error</button>
<button mat-stroked-button (click)="showNotify('fatal')">Fatal</button>
<button mat-stroked-button (click)="showNotify('fatal')">Unexpected error</button>
<hr>