<div [ngClass]="appContainerClasses">
    <div class="app-sub-component">
        <ng-content *ngIf="isReady">
            <app-header>
                <div class="loading-container">
                    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                </div>
            </app-header>
            <div class="page">
                <ng-content *ngIf="updateIsRequired === false">
                    <router-outlet></router-outlet>
                </ng-content>
                <ng-content *ngIf="updateIsRequired === true">
                    <app-force-update></app-force-update>
                </ng-content>
                <ng-content *ngIf="updateIsRequired === null">
                    <app-full-loading></app-full-loading>
                </ng-content>
            </div>
        </ng-content>
    </div>
</div>