.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;

    .page-body {
        margin-top: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        padding: 1rem 0;

        .logo {
            max-width: 50%;
            margin-bottom: 2rem;
        }

        app-login-with-id-number,
        app-login-with-email {
            width: 100%;
        }


        .global-actions {
            width: 80%;
            display: flex;
            flex-direction: column;
        }
    }
}