<div class="page-container">
    <div class="page-body">
        <img class="logo" src="assets/images/logo_207x68.png">
        <app-login-with-id-number *ngIf="loginMethod === LoginMethod.ID"></app-login-with-id-number>
        <app-login-with-email *ngIf="loginMethod === LoginMethod.EMAIL"></app-login-with-email>
        <div class="global-actions">
            <button mat-button class="full-width login-method-btn" (click)="loginMethodToggle()">
                {{
                (loginMethod === LoginMethod.ID ?
                'LOGIN.LOGIN_WITH_EMAIL' :
                'LOGIN.LOGIN_WITH_ID_NUMBER')
                | translate}}
            </button>
            <button mat-button class="full-width login-method-btn" (click)="onPrivacyPolicyClick()">
                {{'PAGE_TITLES.PRIVACY_POLICY' | translate }}
            </button>
        </div>
    </div>
</div>