.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 200px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner-small {
    width: 30px;
    height: 30px;
    border-width: 3px;
}

.spinner-medium {
    width: 50px;
    height: 50px;
}

.spinner-large {
    width: 70px;
    height: 70px;
    border-width: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-message {
    margin-top: 16px;
    font-size: 16px;
    color: #666;
}